@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #190d05;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #190d05;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.PrmColor{
  background-color: #fcf5e5;
}

.SecColor{
  background-color: #fcf5e5;
}

